    /* geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

  /* textarea:focus, input:focus tira as bordas dos inputs */
textarea:focus, input:focus { 
    outline: none;
}

  /* NO a estilizo apenas essa parte especifica e não todo o texto*/
a {
    font-size: 0.8rem; /*16 * .8 = x*/
}

  /* O seletor hover Css destaca a área quando por ela passamos o cursor do Mouse */
a:hover {
    color: #08558B;
}
 
     /* container login */
  /* margin-left e margin-right auto centraliza o elemento na Tela 
     margin-top: 10vh coloca a altura do elemento relativo a tela do dispositivo */

#login-container {
    background-color: #f5f5f5;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

   /* formulario */
  /* padding é o preenchimento */

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom:  20px;
}

#forgot-pass {
    text-align: right;
    display: block;
}

/* text-transform: uppercase transforma em Maiúscula */
input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #FFF;
    background-color: #08558B;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1B223C;
    transition: 0.5s;
}

  /* register-container */

#register-container p {
    margin-bottom: 10px;
}
