<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Tela de Login</title>

  <link rel="stylesheet" href="/public/style/style.css"/>
</head>
<body>
  <div id="login-container">
    <h1>Login</h1>
    <form action="">
      <label for="email">Digite seu e-mail</label>
          <input type="email" name="email" id="email" placeholder="seu @email.com" autocomplete="off" 
          autofocus type="email" required="required">
          <label for="password">Digite sua senha</label>
          <input type="password" name="password" id="password" placeholder="******" required="required"> 
          <a href="#" id="forgot-pass">Esqueceu a senha?</a>
          <input type="submit" value="Login">
    </form>
    <div id="register-container">
      <p>Ainda não tem uma conta?</p>
      <a href="#">Registrar</a>
    </div>
  </div>  
</body>
</html>



